@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
  font-family: "DM Sans", sans-serif;
}

option {
  color: black;
}

.chakra-form-control .chakra-popover__popper {
  min-width: 100% !important;
}

.css-1le7vsx {
  padding: 19px 12px !important;
}

.css-lb5ni6,
.css-vu4ms8,
.css-u588xc {
  height: 42px !important;
  border-radius: 6px !important;
}